.container{
  margin-right: 10px;
}
.video{
  margin-bottom: 12px;
  position: relative;
}
.video-time{
  position: absolute;
  right: 4px;
  bottom: 10px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 12px;
  font-family: Roboto, Arial;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
}
.video-photo{
  width: 100%;
  cursor: pointer;
}
.channel-photo{
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
}
.video-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
.video-author{
  margin-top:10px;
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
  cursor: pointer;
}
.video-status{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.channel-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
